@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
    }
  
    .dark {
      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;
    }
  }
  